# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

demo-screen/

# Project Plans
detailed_project_checklist.md
DEV_NESTimplementation_plan.md
ui-implementation_plan.md
progress_tracker.md
recovered_task_log_2.json
recovered_task_log.json
